spring:
  config:
    activate:
      on-profile: dev
  cloud:
    config:
      server:
        git:
          uri: https://github.com/satishshettigar/config-repo
          search-paths: dev
          default-label: dev

message: Hello from ..!